<main>
    <!-- Album meta -->
    <div class="album-meta">
        <!-- Album thumbnail -->
        <div class="album-thumbnail">
            @if(thumbnailUrl()){
            <img [src]="thumbnailUrl()" alt="Album thumbnail" />
            }@else{
            <b>Album Thumbnail</b>
            }
        </div>
        <div class="album-description">
            <h2>{{album()?.name}}</h2>
        </div>
    </div>
    <!-- Songs list -->
    <div class="songs-container">
        @for (song of album()?.songs; track $index; let i=$index) {
        <button role="button" (click)="onSongClick(song.id)" type="button" class="song-row">
            <div>
                <span class="sr-no">{{i+1}}</span>
                <span class="song-title">
                    {{song.meta.title}}<br />
                    singers
                </span>
            </div>
            <!-- <button type="button" class="more-btn">
                <img height="20" width="20" src="/icons/ellipsis.svg" alt="more option button icon" />
            </button> -->
        </button>
        }@empty {
        <li>No song in this album</li>
        }
    </div>
</main>