main {
    padding: 1.5rem;
}

li {
    list-style-type: none;
}

.album-meta {
    display: flex;
    gap: 1rem;
}

.album-thumbnail {
    min-width: 150px;

    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.album-info {
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 1rem;
    max-height: 150px;
    overflow: hidden;
}

.album-description {
    margin-top: 1rem;
    line-clamp: 5;
    -webkit-line-clamp: 3;
    /* height: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.80rem;
    color: #a9a9a9;
    padding-bottom: 1rem;
}

.album-thumbnail img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-position: center center;
}

.songs-container {
    padding: 1rem 0;
}

.song-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: #fff;
}

.song-row:nth-child(odd) {
    background-color: hsla(0, 0%, 100%, .015);
}

.song-row:hover {
    background-color: #4d4d4d;
}


.song-info {
    margin-left: 1rem;
    font-size: 0.90rem;
    text-align: left;
}

.song-name {
    font-weight: bold;
}

.song-singers {
    color: var(--gray6);
    font-size: 0.75rem;
}

.sr-no {
    font-size: 0.75rem;
}

.more-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fa586a;
}

.song-row {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.song-row img {
    border-radius: 5px;
}

/******************* Media Query at < 480px ************/
@media screen and (max-width: 479px) {
    .album-meta {
        display: block;
    }

    .album-info {
        margin-top: 0.5rem;
    }
}