<main>
    <div class="album-meta">
        <div class="album-thumbnail">
            @if(album()?.thumbnailUrl){
            <img [src]="album()?.thumbnailUrl" alt="Album thumbnail" />
            }@else{
            <b>Album Thumbnail</b>
            }
        </div>
        <div class="album-info">
            <h3 style="margin-bottom: 1rem;">{{album()?.name}}</h3>
            <p class="album-description">{{album()?.description}}</p>

        </div>
    </div>

    <!-- Songs list -->
    <div class="songs-container">
        @for (song of songs(); track $index; let i=$index) {
        <button role="button" (click)="onSongClick(song.songid)" type="button" class="song-row">
            <div class="song-row">
                <p class="sr-no">{{i+1}}</p>
                <img height="40" width="40" [src]="song.thumbnailUrl" alt="song thumbnail">
                <p class="song-info">
                    <span class="song-name">{{song.song_title}}</span><br />
                    <span class="song-singers">{{song.singer_name}}</span>
                </p>
                <!-- <button type="button" class="more-btn">
                    <img height="20" width="20" src="/icons/ellipsis.svg" alt="more option button icon" />
                </button> -->
            </div>

        </button>
        }@empty {
        <p>No song in this album</p>
        }
    </div>
</main>