main {
    padding: 1.5rem;
}

li {
    list-style-type: none;
}

.album-meta {
    display: flex;
    gap: 1rem;
}

.album-thumbnail {
    flex-grow: 25;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-thumbnail img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-position: center center;
}

.album-description {
    flex-grow: 75;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 1rem;
}

.songs-container {
    padding: 1rem 0;
}

.song-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: #fff;
}

.song-row:nth-child(odd) {
    background-color: hsla(0, 0%, 100%, .015);
}

.song-row:hover {
    background-color: #4d4d4d;
}


.song-info {
    margin-left: 1rem;
    font-size: 0.90rem;
    text-align: left;
}

.song-name {
    font-weight: bold;
}
.song-singers{
    color: var(--gray6);
}

.sr-no {
    font-size: 0.75rem;
}

.more-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fa586a;
}

.song-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}