<div class="user-status">
    @if(loggedUser()){
    <button (click)="onAvatarClick()" type="button" name="avatar-button" class="avatar">
        <p>{{loggedUser()?.username}}</p>
    </button>
    }@else {
    <a routerLink="/auth" id="signin-link">Sign
        In</a>
    }
    @if (isMenuVisible()) {
    <div class="avatar-options">
        <button (click)="onLogout()" type="button" name="logout-button" class="avatar-btn">Log out</button>
        <button (click)="routeToProfile()" type="button" name="profile-button" class="avatar-btn">Profile</button>
    </div>
    }
</div>