<main class="login-container">
    <div class="form-container">
        <form [formGroup]="loginForm" class="login-form" (submit)="submitForm()">
            <h3>Login with your musically account</h3>
            <div class="input-container">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="email@example.com" />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" />
            </div>
            <a class="register-link" [routerLink]="['../register']" routerLinkActive="router-link-active">Don't have
                an account?</a>
            <button class="submit-btn" type="submit">Lets go...</button>
        </form>

    </div>
</main>