<main class="login-container">
    <div class="form-container">
        <form #loginForm="ngForm" class="login-form" (ngSubmit)="submitForm()">
            <h3>Login with your musically account</h3>
            <div class="input-container">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" [(ngModel)]="user().email" placeholder="email@example.com"
                    required />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" [(ngModel)]="user().password" name="password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#@$%&])(?=.{8,20}$)\S*$"
                    placeholder="A strong 8-20 character password" required />
            </div>
            <a title="Create a new account" class="register-link" [routerLink]="['../register']"
                routerLinkActive="router-link-active">Don't have
                an account?</a>
            <button [disabled]="loginForm.invalid || authService.loading()" class="submit-btn" type="submit"
                title="{{loginForm.invalid?'Enter your email and password': 'Click to sign in'}}">Lets go...</button>
        </form>
    </div>
</main>