nav {
    padding: 1rem;
}

.login-container {
    padding: 1rem;
}

.console-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.console-tab {
    list-style-type: none;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
    border-radius: 6px;
    background-color: #323232;
    border: 1px solid #3a3a3a;
    color: #a9a9a9;
}

.console-tab.active {
    background: #d50017;
    color: #fff;
}

.users-table {
    padding: 1rem 0;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    /* width: 80vw;
    max-width: 500px; */
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}


.thumbnail-container {
    height: 150px;
    width: 20px;
    max-width: 150px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#thumbnail-label {
    text-decoration: underline;
    cursor: pointer;
}

.uploaded-thumbnail {
    height: 100%;
    width: 100%;
    position: relative;
}

.thumbnail-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.25rem;
}

.thumbnail-actions>button,
.thumbnail-actions>label {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    padding: 0.25rem;
    cursor: pointer;
}

.thumbnail-actions>label {
    color: #006400;
    border: 1px solid #00c316;
    background-color: #ECFFDC;
}

.thumbnail-actions>button {
    color: #d50017;
    border: 1px solid #FF0000;
    background-color: #FBCEB1;
}

.uploaded-thumbnail>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}


.album-and-thumbnail {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.album-and-thumbnail>div {
    flex-grow: 1;
}

/***** Album classes */
.album-container {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    flex-grow: 1;
}

.album-option {
    display: flex;
    gap: 0.5rem;
    padding: 0.125rem;
    margin-bottom: 0.25rem;
}