<main>
    <nav>
        <ul class="console-tabs">
            <button (click)="onTabChange('console')" type="button" name="change-tab-button"
                class="console-tab {{activeTab() === 'console'? 'active': ''}}">Console</button>
            <button (click)="onTabChange('users')" type="button" name="change-tab-button" class=" console-tab {{activeTab()==='users' ? 'active' : ''
                }}">Users</button>
        </ul>
    </nav>

    <!-- Content of console based on tab -->
    @if (activeTab() === 'users') {
    <div class="users-table">
        <h4>Users</h4>
        <table>
            <caption>
                All registered users
            </caption>
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @for (user of consoleService.allUsers(); track $index) {
                <tr>
                    <th scope="row">{{user.username}}</th>
                    <td>
                        <div>{{user.roles}}</div>
                        <div>
                            <input type="checkbox" id="scales" name="admin" />
                            <label for="admin">Admin</label>
                        </div>
                        <div>
                            <input type="checkbox" id="scales" name="normal" />
                            <label for="normal">Normal</label>
                        </div>
                    </td>
                    <td>{{user.email}}</td>
                </tr>
                }@empty {
                <div>No users found.</div>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">Total user</th>
                    <td>{{consoleService.allUsers().length}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    }
    @else {
    <section>

        <main class="login-container">
            <div class="form-container">
                <form #loginForm="ngForm" class="login-form" (ngSubmit)="uploadSong()">
                    <h3>Upload a song</h3>
                    <div class="input-container">
                        <label for="email">Title</label>
                        <input auto id="title" type="text" name="title" [(ngModel)]="song().title"
                            placeholder="Title of the song" required />
                    </div>

                    <div class="input-container">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="file" id="thumbnail" name="thumbnail" accept="image/*"
                            (change)="onFileChange($event)">
                    </div>

                    <div class="input-container">
                        <label for="song">Song</label>
                        <input (change)="onFileChange($event)" name="song" accept="audio/*" type="file" id="song" />
                    </div>

                    <button [disabled]="loginForm.invalid || loader.isLoading()" class="submit-btn" type="submit"
                        title="{{loginForm.invalid?'Enter your email and password': 'Click to sign in'}}">
                        @if (this.loader.isLoading()) {
                        <ul id="loading-container">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        }@else {
                        Upload
                        }
                    </button>
                </form>
            </div>
        </main>
    </section>
    }
</main>