<main>
    <nav>
        <ul class="console-tabs">
            <button (click)="onTabChange('console')" type="button" name="change-tab-button"
                class="console-tab {{activeTab() === 'console'? 'active': ''}}">Console</button>
            <button (click)="onTabChange('users')" type="button" name="change-tab-button" class=" console-tab {{activeTab()==='users' ? 'active' : ''
                }}">Users</button>
        </ul>
    </nav>
    <!-- Content of console based on tab -->
    @if (activeTab() === 'users') {
    <div class="users-table">
        <h4>Users</h4>
        <table>
            <caption>
                All registered users
            </caption>
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @for (user of consoleService.allUsers(); track $index) {
                <tr>
                    <th scope="row">{{user.username}}</th>
                    <td>
                        <div>{{user.roles}}</div>
                        <div>
                            <input type="checkbox" id="scales" name="admin" />
                            <label for="admin">Admin</label>
                        </div>
                        <div>
                            <input type="checkbox" id="scales" name="normal" />
                            <label for="normal">Normal</label>
                        </div>
                    </td>
                    <td>{{user.email}}</td>
                </tr>
                }@empty {
                <div>No users found.</div>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">Total user</th>
                    <td>{{consoleService.allUsers().length}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    }
    @else {
    <div class="login-container">
        <div class="form-container">
            <form #uploadSongForm="ngForm" class="login-form" (ngSubmit)="uploadSong()">
                <h3>Upload a song</h3>
                <div class="input-container">
                    <label for="email">Title</label>
                    <input id="title" type="text" name="title" [(ngModel)]="song().title"
                        placeholder="Title of the song" required />
                </div>

                <div class="input-container">
                    <label for="email">Singers</label>
                    <input id="title" type="text" name="title" [(ngModel)]="song().title" placeholder="Type to search"
                        required />
                </div>

                <div class="album-and-thumbnail">
                    <div>
                        <div>
                            <label>Song thumbnail</label>
                            <div class="thumbnail-container">
                                @if (thumbnailUrl()) {
                                <div class="uploaded-thumbnail">
                                    <img [src]="thumbnailUrl()" alt="uploaded song thumbnail" />
                                    <div class="thumbnail-actions">
                                        <label for="thumbnail" title="Change image"><svg
                                                xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32"
                                                    d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" />
                                            </svg></label>
                                        <input type="file" aria-hidden="true" hidden id="thumbnail" name="thumbnail"
                                            accept="image/*" (change)="onFileChange($event)">
                                        <button title="Cancel uploaded" name="cancel-button" type="button"
                                            (click)="cancelThumbnail()">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32"
                                                    d="M368 368L144 144M368 144L144 368" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                }@else {
                                <label for="thumbnail" id="thumbnail-label">Add</label>
                                <input type="file" aria-hidden="true" hidden required id="thumbnail" name="thumbnail"
                                    accept="image/*" (change)="onFileChange($event)">
                                }
                            </div>
                        </div>

                        <div class="input-container">
                            <label for="song">Song</label>
                            <input (change)="onFileChange($event)" name="song"
                                accept="audio/*" type="file" id="song" required />
                        </div>
                    </div>


                    <!-- Album for song -->
                    <fieldset class="album-container">
                        <legend>Album</legend>
                        @for (_album of albums(); track $index) {
                        <div class="album-option">
                            <input (change)="albumChange($event)" [(ngModel)]="album().existingAlbum" type="radio"
                                [id]="_album.id" name="album" [value]="_album.id"
                                [checked]="album().existingAlbum ===_album.id" />
                            <label [for]="_album.id">{{_album.name}}</label>
                        </div>
                        }

                        <div class="input-container">
                            <label for="new-album">New Album</label>
                            <input id=" new-album" type="text" [ngModel]="album().newAlbum" name="new-album"
                                (ngModelChange)="onNewAlbum($event)" placeholder="your album name" required />
                        </div>
                        <div class="input-container">
                            <label>Album thumbnail</label>
                            <div class="thumbnail-container">
                                @if (thumbnailUrl()) {
                                <div class="uploaded-thumbnail">
                                    <img [src]="thumbnailUrl()" alt="uploaded song thumbnail" />
                                    <div class="thumbnail-actions">
                                        <label for="thumbnail" title="Change image"><svg
                                                xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32"
                                                    d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" />
                                            </svg></label>
                                        <input type="file" aria-hidden="true" hidden id="thumbnail" name="thumbnail"
                                            accept="image/*" (change)="onFileChange($event)">
                                        <button title="Cancel uploaded" name="cancel-button" type="button"
                                            (click)="cancelThumbnail()">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                viewBox="0 0 512 512">
                                                <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="32"
                                                    d="M368 368L144 144M368 144L144 368" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                }@else {
                                <label for="thumbnail" id="thumbnail-label">Add</label>
                                <input type="file" aria-hidden="true" hidden required id="thumbnail" name="thumbnail"
                                    accept="image/*" (change)="onFileChange($event)">
                                }
                            </div>
                        </div>
                        <div class="input-container">
                            <label for="album-description">Description</label>
                            <textarea rows="2" id="album-description" type="text" [ngModel]="album().newAlbum"
                                name="new-album" (ngModelChange)="onNewAlbum($event)"
                                placeholder="Tell us more about your album" required></textarea>
                        </div>
                    </fieldset>
                </div>


                <button [disabled]="uploadSongForm.invalid || loader.isLoading()" class="submit-btn" type="submit"
                    title="{{uploadSongForm.invalid?'Enter song details to upload': 'Upload the song'}}">
                    @if (this.loader.isLoading()) {
                    <ul id="loading-container">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    }@else {
                    Upload
                    }
                </button>
            </form>
        </div>
    </div>
    }
</main>