<main class="login-container">
    <div class="form-container">
        <form [formGroup]="registrationForm" (submit)="submitRegistrationForm()" class="login-form">
            <h3>Create your musically account</h3>
            <div class="input-container">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="email@example.com" />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" />
            </div>
            <a class="register-link" [routerLink]="['../login']" routerLinkActive="router-link-active">Already have
                an account?</a>
            <button class="submit-btn" type="submit">Verify email...</button>
        </form>

    </div>
</main>