<main class="login-container">
    <div class="form-container">
        <form [formGroup]="registrationForm" (submit)="submitRegistrationForm()" class="login-form">
            <h3>Create your musically account</h3>
            <div class="input-container">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" placeholder="email@example.com" />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" />
            </div>
            <a class="register-link" [routerLink]="['../login']" routerLinkActive="router-link-active">Already have
                an account?</a>
            <button class="submit-btn" type="submit">Verify email...</button>
        </form>

    </div>
    <ng-container *ngIf="data$ | async as data">
        <ng-container [ngSwitch]="data.state">
          
          <p *ngSwitchCase="'loading'">Loading...</p>
          
          <ng-container *ngSwitchCase="'error'">
            <!-- <p *ngIf="isErrored(data)">Error: {{ data.error?.message || (data.error | json) }}</p> -->
          </ng-container>
          
          <ng-container *ngSwitchCase="'loaded'">
            <p>{{ data.data | json }}</p>
          </ng-container>
        </ng-container>
      </ng-container>
</main>