<main class="auth-page">
    <div class="background-shapes">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
    </div>
    <div class="overlay"></div>
    <section class="auth-nav-section">
        <nav>
            <a routerLink="" class="company-logo">
                <img src="musically.svg" alt="company_logo" />
                <span>Musically</span>
            </a>
        </nav>
    </section>
    <router-outlet></router-outlet>
</main>