<section class="top-nav">
    <div class="music-controls-container top-nav-child">
        <div class="top-controls">
            <button type="button" class="music-control-btn shuffle-btn">
                <img height="17.5" width="17.5" src="icons/shuffle.svg" alt="shuffle icons" />
            </button>
            <button type="button" class="music-control-btn play-back-btn">
                <img height="25" width="25" src="icons/play-back.svg" alt="shuffle icons" />
            </button>
            <button type="button" (click)="musicService.playPause()" class="music-control-btn play-btn">
                <img height="30" width="30" [src]="musicPlaying()?'icons/pause.svg':'icons/play.svg'"
                    alt="Play/Pause button icons" />
            </button>

            <button type="button" class="music-control-btn play-forward-btn">
                <img height="25" width="25" src="icons/play-forward.svg" alt="shuffle icons" />
            </button>
            <button type="button" class="music-control-btn repeat-btn">
                <img height="17.5" width="17.5" src="icons/repeat.svg" alt="shuffle icons" />
            </button>
        </div>
    </div>
    <div class="song-info top-nav-child">
        <div class="song-thumbnail {{musicService.player()?.thumbnail? 'active':''}}" aria-label="Song thumbnail">
            <img [src]="musicService.player() ? musicService.player()?.thumbnail: 'icons/musical-notes.svg'"
                alt="music note icon" />
        </div>
        <div class="song-progress">
            <div class="progress-brand-container">
                @if(musicService.player()){
                <h4>{{musicService.player()?.title}}</h4>
                <div>
                    @for (singer of musicService.player()?.singers; track $index) {
                    <span>{{singer}}</span>
                    }
                </div>
                }@else {
                <img id="brand-logo" src="musically.svg" alt="company_logo" />
                }
            </div>
            @if(musicService.player()){
            <div class="player-md-control">
                <button type="button" (click)="musicService.playPause()" class="player-md-icon">
                    @if(musicService.context()){
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M208 432h-48a16 16 0 01-16-16V96a16 16 0 0116-16h48a16 16 0 0116 16v320a16 16 0 01-16 16zM352 432h-48a16 16 0 01-16-16V96a16 16 0 0116-16h48a16 16 0 0116 16v320a16 16 0 01-16 16z" />
                    </svg>
                    }@else {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M133 440a35.37 35.37 0 01-17.5-4.67c-12-6.8-19.46-20-19.46-34.33V111c0-14.37 7.46-27.53 19.46-34.33a35.13 35.13 0 0135.77.45l247.85 148.36a36 36 0 010 61l-247.89 148.4A35.5 35.5 0 01133 440z" />
                    </svg>
                    }
                </button>
                <button class="player-md-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M481.29 229.47l-188.87-113a30.54 30.54 0 00-31.09-.39 33.74 33.74 0 00-16.76 29.47v79.05L63.85 116.44a30.54 30.54 0 00-31.09-.39A33.74 33.74 0 0016 145.52v221A33.74 33.74 0 0032.76 396a30.54 30.54 0 0031.09-.39L244.57 287.4v79.08A33.74 33.74 0 00261.33 396a30.54 30.54 0 0031.09-.39l188.87-113a31.27 31.27 0 000-53z" />
                    </svg>
                </button>
            </div>
            }
            <div class="progress-signin">
                <app-user-status />
            </div>
        </div>
    </div>
    <div class="volume-container top-nav-child">
        <div class="volume-level">
            <img height="17.5" width="17.5" src="icons/volume-high.svg" alt="volume icon" />
            <progress id="file" max="100" value="70">70%</progress>
        </div>
        <img height="20" width="20" src="icons/list.svg" alt="list of music icon" />
        <app-user-status />
    </div>
</section>