nav {
    padding: 1rem;
}


progress {
    width: 100%;
    background-color: transparent;
    border: var(--global-border);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    /* Remove default browser styling */
    -moz-appearance: none;
    appearance: none;
}

/* Webkit browsers (Chrome, Safari, Edge Chromium) */
progress::-webkit-progress-bar {
    background-color: transparent;
    padding: 0.0625rem;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: rgba(128, 128, 128, 0.5);
    /* Blue fill */
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
    /* Smooth transition for progress changes */
}

/* Mozilla Firefox */
progress::-moz-progress-bar {
    background-color: #007bff;
    /* Blue fill */
    border-radius: 12px;
    transition: width 0.5s ease-in-out;
}

.album-thumbnail {
    max-width: 200px;
    width: 100%;
}


.song-thumbnail {
    max-width: 200px;
    width: 80%;
}

.song-data {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.login-container {
    padding: 1rem;
}

.console-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.console-tab {
    list-style-type: none;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
    border-radius: 6px;
    background-color: #323232;
    border: 1px solid #3a3a3a;
    color: #a9a9a9;
}

.console-tab.active {
    background: #d50017;
    color: #fff;
}

.users-table {
    padding: 1rem 0;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    /* width: 80vw;
    max-width: 500px; */
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}


.thumbnail-container {
    height: 175px;
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#thumbnail-label {
    text-decoration: underline;
    cursor: pointer;
}

.uploaded-thumbnail {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.thumbnail-actions {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.25rem;
}

.thumbnail-actions>button,
.thumbnail-actions>label {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    padding: 0.25rem;
    cursor: pointer;
}

.thumbnail-actions>label {
    color: #006400;
    border: 1px solid #00c316;
    background-color: #ECFFDC;
}

.thumbnail-actions>button {
    color: #d50017;
    border: 1px solid #FF0000;
    background-color: #FBCEB1;
}

.uploaded-thumbnail>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}


.album-and-thumbnail {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

/** Album classes */
fieldset {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.add-button {
    margin-top: 0;
}

.pill-adder {
    margin-top: 1rem;
    padding: 0;
    border: none;
}

.tag-with-input {
    border-radius: 5px;
    padding: 0.125rem 0.25rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.tag-with-input:focus-within {
    border: 1px solid #fff;
}

.tag-with-input>input {
    padding: 0.375rem;
}

.tag {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    margin: 0.125rem;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;
    border-radius: 25px;
    background-color: var(--success-bg);
    border: 1px solid var(--success-text);
    color: var(--success-text);
}


#new-singer {
    border: none;
    width: fit-content;
}

#new-singer:focus {
    border: none;
    outline: none;
}

.tag-cancel-btn {
    width: 16px;
    height: 16px;
    border: none;
    /* padding: 1px; */
    border-radius: 2px;
    background-color: transparent;
    color: var(--success-text);
}

.album-option {
    display: flex;
    gap: 0.5rem;
    padding: 0.125rem;
    margin-bottom: 0.25rem;
}