nav {
    padding: 1rem;
}

li {
    list-style-type: none;
    flex-grow: 1;
}

.login-container {
    padding: 1rem;
}

.console-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.console-tab {
    display: block;
    list-style-type: none;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    background-color: #323232;
    border: 1px solid #3a3a3a;
    color: #a9a9a9;
    text-decoration: none;
}

.console-tab.active {
    background: #d50017;
    color: #fff;
}