<main class="login-container">
    <div class="form-container">
        <form #resetForm="ngForm" class="login-form" (ngSubmit)="submitForm()">
            <h3>Change your password...</h3>
            <div class="input-container">
                <label for="password">New Password</label>
                <input auto id="password" type="password" placeholder="A strong 8-20 character password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#@$%&])(?=.{8,20}$)\S*$" name="password"
                    [(ngModel)]="newPassword().password" required />
            </div>
            <div class="input-container">
                <label for="repeat-password">Repeat Password</label>
                <input id="repeat-password" type="password" [(ngModel)]="newPassword().confirmPassword"
                    name="repeat-password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#@$%&])(?=.{8,20}$)\S*$"
                    placeholder="Repeat the new password" required />
            </div>

            <button [disabled]="resetForm.invalid || authService.loading()" class="submit-btn" type="submit"
                title="{{resetForm.invalid?'Enter a new password': 'Click to change password'}}">
                @if (this.authService.loading()) {
                <ul id="loading-container">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                }@else {
                Confirm
                }
            </button>
        </form>
    </div>
</main>