<main class="login-container">
    <div class="form-container">
        <form #resetForm="ngForm" class="login-form" (ngSubmit)="submitForm()">
            <h3>Change your password...</h3>
            <div class="input-container">
                <label for="email">Email</label>
                <input auto id="email" type="email" name="email" [(ngModel)]="newPassword().password"
                    placeholder="email@example.com" required />
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" [(ngModel)]="newPassword().confirmPassword" name="password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#@$%&])(?=.{8,20}$)\S*$"
                    placeholder="A strong 8-20 character password" required />
            </div>

            <button [disabled]="resetForm.invalid || authService.loading()" class="submit-btn" type="submit"
                title="{{resetForm.invalid?'Enter a new password': 'Click to change password'}}">
                @if (this.authService.loading()) {
                <ul id="loading-container">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                }@else {
                Confirm
                }
            </button>
        </form>
    </div>
</main>