.toast-container {
    position: fixed;
    width: 200px;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.toast-container.top {
    top: 20px;
}

.toast-container.bottom {
    bottom: 20px;
}

.toast-container.top.center,
.toast-container.bottom.center {
    left: calc(50% - 100px);
}

.toast-container.top.left,
.toast-container.bottom.left {
    left: 20px;
}

.toast-container.top.right,
.toast-container.bottom.right {
    right: 20px;
}

.toast {
    width: 200px;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toast.error {
    background-color: var(--error-bg);
    color: var(--error-text);
    border: 1px solid var(--error-border);
}

.toast.success {
    background-color: var(--success-bg);
    color: var(--success-text);
    border: 2px solid var(--success-border);
}
.toast.warning {
    background-color: var(--warning-bg);
    color: var(--warning-text);
    border: 2px solid var(--warning-border);
}
.toast.info {
    background-color: var(--info-bg);
    color: var(--info-text);
    border: 2px solid var(--info-border);
}