<!-- Will cover the whole body -->
<main class="toast-container {{alignment.horizontal}} {{alignment.vertical}}">
    <!-- Toast card (align based on user pref and style with css class) -->
    <section class="toast-card-container">
        @for (toast of toastService.toasts(); track $index; let i=$index) {
        <!-- <div
            class="toast {{toast.type}} toast-{{toast.id.toString()}} {{ this.toasts().length=== 2&& toast.id < this.toasts()[0].id? 'move-second': this.toasts().length=== 3&& toast.id < this.toasts()[2].id? 'move-last': 'frontier'}}"> -->
        <!-- <div
            class="toast {{toast.type}} toast-{{toast.id.toString()}} {{i===0?'move-last':i===1?'move-second':'frontier'}}"> -->
        <!-- <div #toast [id]="toast.id.toString()" class="toast {{toast.type}} toast-{{toast.id.toString()}} {{getPosition(i)}}"> -->

        <div #toast [id]="toast.id.toString()" class="toast {{toast.type}}">
            <img [height]="toast.type === 'loading'?'30':'20'" [width]="toast.type === 'loading'?'30':'20'"
                src="/svgs/toast_{{toast.type}}.svg" alt="toast type representing icon" />
            <span>{{toast.message}}</span>
        </div>

        }
        <!-- The placeholder to toasts -->
        <div id="toast-placeholder"></div>
    </section>
</main>