.toast-container {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
}

/**** ON hover show all the toasts */
/* .toast-container:hover .toast{
    position: static;
} */

.toast-container.top {
    top: 1rem;
}

.toast-container.bottom {
    bottom: 20px;
}

.toast-container.top.center,
.toast-container.bottom.center {
    left: calc(50% - 216px);
}

.toast-container.top.left,
.toast-container.bottom.left {
    left: 20px;
}

.toast-container.top.right,
.toast-container.bottom.right {
    right: 20px;
}

.toast-card-container {
    position: relative;
    width: 100%;
}

#toast-placeholder {
    width: 400px;
    height: 50px;
}

.toast {
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    width: 400px;
}

.toast>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toast.error {
    background-color: var(--error-bg);
    color: var(--error-text);
    border: 1px solid var(--error-border);
}

.toast.success {
    background-color: var(--success-bg);
    color: var(--success-text);
    border: 1px solid var(--success-border);
}

.toast.warning {
    background-color: var(--warning-bg);
    color: var(--warning-text);
    border: 2px solid var(--warning-border);
}

.toast.info {
    background-color: var(--info-bg);
    color: var(--info-text);
    border: 2px solid var(--info-border);
}

.toast.loading {
    background-color: var(--normal-bg);
    border: 2px solid var(--normal-border);
    color: var(--normal-text);
}

/************ The stacking effect of toasts */
.toast.move-second {
    z-index: -2;
}

.toast.move-last {
    z-index: -3;
}

.toast.frontier:not(.remove) {
    animation: frontierMoveIn 200ms forwards;
}

.toast.move-second:not(.remove) {
    animation: frontierMoveSecond 200ms forwards;

}

.toast.move-last:not(.remove) {
    animation: secondMoveLast 200ms forwards;
}

/*** if the remove class is added */
.toast.frontier.remove {
    animation: disappear 200ms forwards;
}

.toast.toast.move-second.remove {
    animation: disappearSecond 200ms forwards;
}

.toast.toast.move-last.remove {
    animation: disappearLast 200ms forwards;
}



/************* Animations */
@keyframes frontierMoveIn {
    0% {
        transform: translate(0, -30px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes frontierMoveSecond {
    0% {
        transform: translate(0);
    }

    100% {
        transform: perspective(30px) translateZ(-2px) translate(0, 15px);
    }
}

@keyframes secondMoveLast {
    0% {
        transform: perspective(30px) translateZ(-2px) translate(0, 15px);
    }

    100% {
        transform: perspective(30px) translateZ(-4px) translate(0, 30px);
    }
}

@keyframes disappear {
    to {
        transform: translate(0, -5px);
        opacity: 0;
    }
}

@keyframes disappearSecond {
    from {
        transform: perspective(30px) translateZ(-2px) translate(0, 15px);
        opacity: 1;
    }

    to {
        transform: perspective(30px) translateZ(-2px) translate(0, -5px);
        opacity: 0;
    }
}

@keyframes disappearLast {
    from {
        transform: perspective(30px) translateZ(-4px) translate(0, 30px);
        opacity: 1;
    }

    to {
        transform: perspective(30px) translateZ(-4px) translate(0, -5px);
        opacity: 0;
    }
}


/************** Media queries for width */
@media screen and (max-width: 432px) {
    .toast-container {
        width: 100%;
        left: 0;
    }

    .toast-container.top.center,
    .toast-container.bottom.center {
        left: 0;
    }

    #toast-placeholder {
        width: 100%;
    }

    .toast {
        width: 100%;
    }
}