<!-- bottom Music Player -->
<section class="mobile-music-controller">
    <div class="mobile-song-thumbnail {{musicService.player()?.thumbnail? 'active':''}}" aria-label="Song thumbnail">
        <!-- <img height="30" width="30" src="icons/musical-notes.svg" alt="music note icon" /> -->
        <img height="30" width="30"
            [src]="musicService.player() ? musicService.player()?.thumbnail: 'icons/musical-notes.svg'"
            alt="music note icon" />
    </div>
    @if (musicService.player()) {
    <p style="height: fit-content; color: #fff;">
        {{musicService.player()?.title}}
    </p>
    }
    <div class="bottom-controls">
        <button type="button" (click)="musicService.playPause()" class="music-control-btn play-btn">
            <img height="30" width="30" [src]="musicService.musicPlaying()?'icons/pause.svg':'icons/play.svg'"
                alt="Play/Pause button icons" />
        </button>
        <button class="music-control-btn play-forward-btn">
            <img height="25" width="25" src="icons/play-forward.svg" alt="shuffle icons" />
        </button>
    </div>
</section>