:root {
  /* Gray */
  --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%);
  /* Toast */
  --normal-bg: #fff;
  --normal-border: var(--gray7);
  --normal-text: var(--gray12);
  --success-bg: hsl(143, 85%, 96%);
  --success-border: hsl(145, 92%, 91%);
  --success-text: hsl(140, 100%, 27%);
  --info-bg: hsl(208, 100%, 97%);
  --info-border: hsl(221, 91%, 91%);
  --info-text: hsl(210, 92%, 45%);
  --warning-bg: hsl(49, 100%, 97%);
  --warning-border: hsl(49, 91%, 91%);
  --warning-text: hsl(31, 92%, 45%);
  --error-bg: hsl(359, 100%, 97%);
  --error-border: hsl(359, 100%, 94%);
  --error-text: hsl(360, 100%, 45%);

  /* Section */
  --section-padding: 1.5rem;

  /* Colors */
  --icon-fill: #fa586a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background-color: #1f1f1f;
}


/* Reusable CSS */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

/* Div having Label and Input field */
.input-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type='text'],
input[type='password'] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: transparent;
  color: white;
  max-width: 300px;
  width: 100%;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

input:focus {
  outline: 1px solid white;
}

button[type='submit'] {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  max-width: 400px;
  width: 100%;
}

button[type='submit']:disabled {
  background-color: rgba(128, 128, 128, 0.483);
  color: rgba(255, 255, 255, 0.454);
  cursor: not-allowed;
}



/************************* Loader animation **********************/
#loading-container {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

#loading-container>li {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  list-style-type: none;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loading-container>li:nth-child(1) {
  left: -10px;
  animation: stage1 0.6s infinite;
}

#loading-container>li:nth-child(2) {
  left: -10px;
  animation: stage2 0.6s infinite;
}

#loading-container>li:nth-child(3) {
  left: 6px;
  animation: stage2 0.6s infinite;
}

#loading-container>li:nth-child(4) {
  left: 22px;
  animation: stage3 0.6s infinite;
}

@keyframes stage1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes stage3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes stage2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(16px, 0);
  }
}


/******************* Media Query at < 480px ************/
@media screen and (max-width: 479px) {
  form {
    padding: 1rem;
  }
}