<main>
    <section class="sidebar">
        <a routerLink="" id="brand-name">
            <img id="brand-logo" src="musically.svg" alt="company_logo" />
            <span>Musically</span>
        </a>
        <div class="search-box">
            <div class="search-box-container">
                <label for="search-song" class="search-box-icon">
                    <img height="20" width="20" src="icons/search-outline.svg" alt="search icon" />
                </label>
                <input id="search-song" class="search-field" type="text" placeholder="Search" />
            </div>
        </div>
        <!-- Sidebar links -->
        <app-menu-links [links]="sidebarLinks" />
    </section>
    <section class="right-section">
        <section class="top-nav">
            <div class="music-controls-container top-nav-child">
                <div class="top-controls">
                    <button type="button" class="music-control-btn shuffle-btn">
                        <img height="17.5" width="17.5" src="icons/shuffle.svg" alt="shuffle icons" />
                    </button>
                    <button type="button" class="music-control-btn play-back-btn">
                        <img height="25" width="25" src="icons/play-back.svg" alt="shuffle icons" />
                    </button>
                    <button type="button" (click)="playPauseSong()" class="music-control-btn play-btn">
                        <img height="30" width="30" [src]="musicPlaying()?'icons/pause.svg':'icons/play.svg'"
                            alt="Play/Pause button icons" />
                    </button>
                    @if (musicService.player()) {
                    <audio #audioPlayer hidden controls [src]="musicService.player()!.song"></audio>
                    }
                    <button type="button" class="music-control-btn play-forward-btn">
                        <img height="25" width="25" src="icons/play-forward.svg" alt="shuffle icons" />
                    </button>
                    <button type="button" class="music-control-btn repeat-btn">
                        <img height="17.5" width="17.5" src="icons/repeat.svg" alt="shuffle icons" />
                    </button>
                </div>
            </div>
            <div class="song-info top-nav-child">
                <div class="song-thumbnail" aria-label="Song thumbnail">
                    <img height="30" width="30"
                        [src]="musicService.player() ? musicService.player()?.thumbnail: 'icons/musical-notes.svg'"
                        alt="music note icon" />
                </div>
                <div class="song-progress">
                    <div class="progress-brand-container">
                        <img id="brand-logo" src="musically.svg" alt="company_logo" />
                    </div>
                    <div class="progress-signin">
                        <app-user-status />
                    </div>
                </div>
            </div>
            <div class="volume-container top-nav-child">
                <div class="volume-level">
                    <img height="17.5" width="17.5" src="icons/volume-high.svg" alt="volume icon" />
                    <progress id="file" max="100" value="70">70%</progress>
                </div>
                <img height="20" width="20" src="icons/list.svg" alt="list of music icon" />
                <app-user-status />
            </div>
        </section>

        <!-- Mobile Navigation bar -->
        <section class="navigation-bar">
            <div class="mobile-top-nav">
                <button (click)="onMenuToggle()" type="button" title="Open menu" name="menu-opener-button"
                    id="menu-button">
                    <span id="menu-bar-up" class="{{menuStatus()}}"></span>
                    <span id="menu-bar-down" class="{{menuStatus()}}"></span>
                </button>
                <div class="mobile-nav-brand">
                    <a routerLink="" id="brand-name">
                        <img id="brand-logo" src="musically.svg" alt="company_logo" />
                        <span>Musically</span>
                    </a>
                </div>
                <app-user-status class="user-avatar" />
            </div>

            <!-- Mobile menu content -->
            <div class="mobile-menu {{menuStatus()}}">
                <app-menu-links (onClick)="onMenuToggle()" [links]="sidebarLinks" />
            </div>
        </section>
        <section class="main-container">
            <router-outlet />
        </section>
        <!-- Mobile Music Player -->
        <section class="bottom-music-player">
            <div class="mobile-music-controller">
                <div class="mobile-song-thumbnail" aria-label="Song thumbnail">
                    <!-- <img height="30" width="30" src="icons/musical-notes.svg" alt="music note icon" /> -->
                    <img height="30" width="30"
                        [src]="musicService.player() ? musicService.player()?.thumbnail: 'icons/musical-notes.svg'"
                        alt="music note icon" />
                </div>
                @if (musicService.player()) {
                <p style="height: fit-content; color: #fff;">{{musicService.player()?.title}}
                </p>
                }
                <div class="bottom-controls">
                    <!-- <button class="music-control-btn play-btn">
                        <img height="30" width="30" src="icons/play.svg" alt="shuffle icons" />
                    </button> -->
                    <button type="button" (click)="playPauseSong()" class="music-control-btn play-btn">
                        <img height="30" width="30" [src]="musicPlaying()?'icons/pause.svg':'icons/play.svg'"
                            alt="Play/Pause button icons" />
                    </button>
                    <button class="music-control-btn play-forward-btn">
                        <img height="25" width="25" src="icons/play-forward.svg" alt="shuffle icons" />
                    </button>
                </div>
            </div>
        </section>
    </section>
</main>