main {
    display: flex;
    position: relative;
}

li {
    list-style: none;
}

.sidebar {
    position: sticky;
    top: 0;
    flex-basis: 280px;
    flex-shrink: 0;
    background-color: #252526;
    height: 100vh;
    padding: var(--section-padding);
}

.search-box {
    padding: 2rem 0 1rem;
    position: relative;
    width: 100%;
}

.search-box-icon {
    position: absolute;
    top: calc(50% + 0.5rem - 11.25px);
    left: 0.5rem;
}

.search-field {
    padding-left: 2rem;
    width: 100%;
    ;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 0;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
    background-color: transparent;
    border: none;
    color: hsl(0deg 0% 100% / 92%);
    cursor: pointer;
}

.sidebar-link>a {
    text-decoration: none;
    color: hsl(0deg 0% 100% / 92%);
}

.console-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right-section {
    flex-basis: auto;
    flex-grow: 85;
    flex-shrink: 1;
    position: relative;
}


.top-nav {
    position: sticky;
    top: 0;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: rgb(44 44 44);
}

.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(44 44 44);
}

.mobile-top-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(44 44 44);
}


.user-avatar {
    justify-self: end;
}

.top-nav-child {
    flex-basis: auto;
    flex-shrink: 1;
}

.main-container {
    background-color: #1f1f1f;
    color: #ffffffeb;
    min-height: calc(100vh - 150px);
}



/* Menu button */
#menu-button {
    background-color: transparent;
    border: none;
    padding: 14px 8px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-button>span {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: #fa586a;
}

#menu-bar-up.active {
    animation: moveUpRotate 350ms ease-in-out forwards;
}

#menu-bar-down.active {
    animation: moveDownRotate 350ms ease-in-out forwards;
}

#menu-bar-up.inactive {
    animation: upInitialPosition 350ms ease-in-out forwards;
}

#menu-bar-down.inactive {
    animation: downInitialPosition 350ms ease-in-out forwards;
}

@keyframes upInitialPosition {
    0% {
        transform: translateY(5px) rotate(45deg);
    }

    50% {
        transform: translateY(5px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes downInitialPosition {
    0% {
        transform: translateY(-5px) rotate(-45deg);
    }

    50% {
        transform: translateY(-5px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}


@keyframes moveDownRotate {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-5px) rotate(0);
    }

    100% {
        transform: translateY(-5px) rotate(45deg);
    }
}

@keyframes moveUpRotate {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(5px) rotate(0);
    }

    100% {
        transform: translateY(5px) rotate(-45deg);
    }
}

.mobile-menu {
    background-color: rgb(44 44 44);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100vh;
    z-index: -1;
    padding: 2rem;
}

.mobile-menu.active {
    animation: menuMoveIn 350ms ease-in-out forwards;
}

.mobile-menu.inactive {
    animation: menuMoveOut 350ms ease-in-out forwards;
}

@keyframes menuMoveIn {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -100vh
    }
}

@keyframes menuMoveOut {
    0% {
        bottom: -100vh;
    }

    100% {
        bottom: 0
    }
}

/******* Mobile Music Controller */
.bottom-music-player {
    position: sticky;
    padding-top: 2rem;
    z-index: 9;
    bottom: 1rem;
    width: 100vw;
}

.mobile-music-controller {
    border-radius: 1rem;
    background-color: rgb(44 44 44);
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.bottom-controls {
    display: flex;
    align-items: center;
}

.mobile-song-thumbnail {
    padding: 0.5rem;
    background-color: #323232;
    border-radius: 0.5rem;
    border: 1px solid #3a3a3a;
}

#brand-name {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
}

#brand-logo {
    height: 30px;
    width: 30px;
}

.music-controls-container {
    display: flex;
    flex-grow: 20;
}

.top-controls {
    display: flex;
    margin: 0 auto;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.music-control-btn {
    border: none;
    padding: 0.125rem;
    background-color: transparent;
    cursor: pointer;
}

.song-info {
    display: flex;
    background-color: #323232;
    flex-grow: 70;
}

.song-thumbnail {
    padding: 0.25rem;
}

.song-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4d;
    width: 100%;
    padding: 0.5rem;
}

.progress-brand-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    flex-grow: 10;
    padding-left: 1rem;
}

.volume-level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

progress::-webkit-progress-value {
    background-color: #aaaaaa;
    /* Green for the filled part */
    border-radius: 2.5px;
    width: 100px;
}

/* For Firefox, the 'progress' element itself styles the filled portion */
progress {
    background-color: #aaaaaa;
    height: 5px;
    border-radius: 2.5px;
    width: 100px;
}

progress::-webkit-progress-bar {
    background-color: #4b4b4b;
    /* Light gray for the track */
    border-radius: 2.5px;
    width: 100px;
}

progress::-moz-progress-bar {
    background-color: #4b4b4b;
    border-radius: 2.5px;
    width: 100px;
}



/******************* Media Query at 1000px ************/
@media screen and (480px <=width <=1000px) {
    .top-nav {
        padding: 0.5rem;
    }

    .music-controls-container {
        display: none;
    }

    .volume-container {
        display: none;
    }

    .navigation-bar {
        display: none;
    }

    .sidebar {
        flex-basis: 28%;
        flex-shrink: 1;
    }

    .bottom-music-player {
        display: none;
    }
}

/******************* Media Query at < 480px ************/
@media screen and (max-width: 479px) {
    .sidebar {
        display: none;
    }

    .top-nav {
        display: none;
    }
}

@media screen and (min-width:1001px) {
    .progress-signin {
        display: none;
    }

    .navigation-bar {
        display: none;
    }

    .bottom-music-player {
        display: none;
    }
}

/******************* Break Point for Jio Phone */

@media screen and (151px <=width<=360px) {
    .mobile-top-nav {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: start;
    }

    .mobile-nav-brand {
        justify-self: end;
    }

    .user-avatar {
        grid-column-start: 2;
    }
}
